<%- include('partials/header') %>

<h2 class="text-center">New Concert</h2>

<div class="container-fluid">

    <form>
        <div class="form-group">
            <label for="BandName">Band Name</label>
            <input type="text" class="form-control" id="BandName" placeholder="Band Name">
        </div>

        <div class="form-group">
            <label for="Genre">Genre</label>
            <select class="form-control" id="Genre">
                <% genres.forEach(genre => { %>
                    <option value="<%= genre.genreId %>"><%= genre.genreName %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-group">
            <label for="Country">Country</label>
            <select class="form-control" id="Country">
                <% countries.forEach(country => { %>
                    <option value="<%= country.countryCode %>"><%= country.countryName %></option>
                <% }) %>
            </select>
        </div>
    </form>
</div>


<%- include('partials/footer') %>